@import 'search.scss';
@import 'btns-page.scss';
@import 'table.scss';

.customers {
    background-color: $color-white-100;
    border-radius: toRem(30);
    width: fit-content;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: toRem(40) toRem(40) toRem(26) toRem(40);
    }
    &__title {
        display: flex;
        flex-direction: column;
        :first-child {
            @include mixins.textParams(toRem(22), $color-text-default, 600, 33px, 0);
        }
        :last-child {
            @include mixins.textParams(toRem(14), $color-green-200, 400, 21px, 0);
        }
    }
    &__text {
        @include mixins.textParams(toRem(14), $color-text-label, 500, 21px, 0);
    }
    &__foot {
        padding: toRem(30) toRem(40) toRem(40) toRem(40);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}