$color-text-default: #000000;
$color-text-list: #292D32;
$color-text-sidebar: #9197B3;
$color-text-label: #B5B7C0;
$color-border: #E7E7E7;
$color-input: #F9FBFF;
$color-accent: #5932EA;
$color-btn: #404B52;
$color-green-100: #16c09861;
$color-green-200: #16C098;
$color-green-300: #00B087;
$color-green-400: #008767;
$color-red-100: #FFC5C5;
$color-red-200: #DF0404;
$color-white-100: #FFFFFF;
$color-grey-100: #757575;
$color-grey-200: #838383;
